body {
  background-color: #c1aac0;
}

h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 84px;
  line-height: 112px;
  text-align: left;
}

p {
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
}
