.graphic h1 {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 84px;
  line-height: 112px;
  text-align: center;
}

h3 {
  color: #ffffff;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
